.lingkaran{
  width: 225px;
  height: 221px;
  border-radius: 500px;
  background: #FFDA6A;
  display: table;
}

.lingkaran p{
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle ;
  text-align: center;
  display: table-cell;
}

nav{
  background-color: #2E78BC;
}

.navbar-brand{
  color: #F90;
}

footer p{
  color: black;
}

footer{
  background-color: #C6D4E1;
  color: #2947A9;
  padding-left: 130px;
  padding-right: 130px;
  background-color: #2E78BC;
}